.smo016_spinner { background: url(ajax-loader1.gif) center center; width: 32px; height: 32px; }
.smo016_spinner.margined { margin: 20px 0; }
.label-format2 { background-color:rgba(166, 242, 226, 0.34)}
.label-format3 { background-color: rgba(122, 116, 212, 0.28)}
.fontSize { font-size: 1.5em;}
body { background-color: white;}


.portlet.box.m5s > .portlet-title, .portlet.m5s, .portlet > .portlet-body.m5s {
    background-color: #ffd600;
}

.portlet.box.green > .portlet-title, .portlet.green, .portlet > .portlet-body.green {
    background-color: #ffd600;
}

.portlet.box.m5s {
    border: 1px solid #ffd600;
}

.m5s {
    background-color: #ffd600;
}

.btn.m5s:not(.btn-outline) {
    background-color: #ffd600;
    color: white;
}